<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Hello FLask</title>
</head>
<body>
    {% if not search %}
    <h2>Ini halaman index biasa</h2>
    <h3><a href="{{ url_for('login') }}">Login</a></h3>
    {% else %}
    <h2>Ini halaman search {{ search }}</h2>
    {% endif %}
</body>
</html>